<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Task Tracker</title>
    </head>
    <body>
        <h2>Нумерованный список</h2>
        <ol>
            <li>iPhone 6S</li>
            <li>Galaxy S7</li>
            <li>Nexus 5X</li>
            <li>Lumia 950</li>
        </ol>
        <h2>Ненумерованный список</h2>
        <ul>
            <li>iPhone 6S</li>
            <li>Galaxy S7</li>
            <li>Nexus 5X</li>
            <li>Lumia 950</li>
        </ul>
    </body>
</html>