{% extends "base.html" %}
{% load static %}

{% block title %}Tasks{% endblock %}


{% block content %}

<div class="row">

    <div class="col-md-4">
        <img src="{% static 'tasks/img/projects.jpeg' %}" alt="projects" width="300" height="200">
        <div class="col-mb-2">
            <a href="{% url 'tasks:all_projects' %}" class="btn btn-primary">Проекты</a>
        </div>
    </div>

    <div class="col-md-4">
        <img src="{% static 'tasks/img/employees.jpeg' %}" alt="projects" width="300" height="200">
        <div class="col-mb-2">
            <a href="{% url 'users:all_employees' %}" class="btn btn-primary">Команда</a>
        </div>
    </div>
</div>

{% endblock %}