{% extends "tasks.html" %}

{% block content %}
<div class="col">
    <h3>Список проектов</h3>
    <a href="{% url 'tasks:create_project' %}" class="btn btn-success">+</a>
</div>
<div class="row">
{% for project in projects %}
    <div class="col-md-4">
        <div class="card mb-2">
        <h5>{{project.title}}</h5>
        <div class="card-body">
            <p>{{project.description}}</p>
            <p>{{project.deadline}}</p>
            <a href="{% url 'tasks:project_info' project.pk %}" class="btn btn-primary">Подробнее</a>
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}