
.project-item {
    background: greenyellow;
    border: solid black 5px;
    padding: 8px;
    margin: 16px;
    width: 50%;
    height: 100%;
    font-family: 'Lato', sans-serif;

    box-sizing: border-box;
    display: inline-block;
}

.project-item__title {
    margin: 25px;
    padding: 8px;
    background: yellow;
    border: solid black 3px;
    width: 20%;
    height: 20%;
}

.project-item__description {
    margin: 8px;
}

button {
    margin: 15px;
    padding: 16px;
    width: 20%;
    border-radius: 8px;
    border: solid black 3px;
}

button:hover,
button:active {

    background: gainsboro;
    color: black;
    border: solid red 3px;

}
.btn-edit {
    background: grey;

}

.btn-delete {
    background: red;
}


button {
  border-radius: 4px;
  background-color: #5ca1e1;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 18px;
  /*padding: 8px;*/
  transition: all 0.5s;
  cursor: pointer;
  /*margin: 36px;*/
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}

button{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 14px;
  right: -20px;
  transition: 0.5s;
}

button:hover{
  padding-right: 24px;
  padding-left:8px;
}

button:hover:after {
  opacity: 1;
  right: 10px;
}

